// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}


.CoveoGeoHashMap {
  position: static;
  overflow: inherit;
  height: 100%; }

.CoveoLogoOverlay {
  z-index: 100;
  width: 100px;
}

.gmnoprint img {
    max-width: none; 
}

.coveo-search-section {
  width: 100%; }

.coveo-search-section-wrapper {
  display: flex;
  justify-content: center; }

.CoveoSearchButton {
  background-color: white;
  height: 48px; }

.CoveoOmnibox,
.magic-box-suggestions.magic-box-hasSuggestion {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  border: none; }

.CoveoOmnibox.magic-box,
.CoveoSearchButton {
  border: none; }

.magic-box .magic-box-suggestions .magic-box-suggestion {
  line-height: 10px;
  font-size: 14px; }

.CoveoSearchInterface .coveo-main-section {
  max-width: 1600px;
margin-left: 330px;
 }

.Ratings .coveo-facet-value-caption {
  color: #296896; }

.coveo-card-layout.CoveoResult,
.CoveoFacetSlider,
.CoveoFacetRange,
.CoveoSearchButtonveoFacet,
.CoveoFacet {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: none;}

.gm-style-iw div .coveo-list-layout.CoveoResult {
  box-shadow: none;
  margin: none;
  padding: none;
  border-top:none;
   }
   .gm-style {
    font-family: 'Verdana', sans-serif;
   }
.gm-style-iw div  coveo-clickable {
  font-weight: 800;
}

.gm-style-iw .coveo-card-layout.CoveoResult .CoveoMapResultTemplate {
  padding: 10px 0 0 0; }



/* ------------------------------------------------------------------------------
---------------------------------------------------------------------------------
------------------------------------ SEB CSS ------------------------------------
---------------------------------------------------------------------------------
------------------------------------------------------------------------------ */

body, .CoveoSearchInterface {
  font-family: 'Verdana', sans-serif;
  display: flex!important;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: block!important;
  z-index: 100;
  background: #fff;
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .coveo-search-section-wrapper {
    flex: 1;
    max-width: 785px;
    min-width: 400px;
    margin-right: 20px;

   
  }
}

.gm-style-iw-d .coveo-list-layout.CoveoResult .results-card__img-container {
  height: auto;
  width: 50%;
  flex: none; 
}
.gm-style-iw-d .coveo-list-layout.CoveoResult .results-card {
  border-top: none;
}
.CoveoBreadcrumb {
  padding: 5px 0;
}
.CoveoSearchInterface .coveo-search-section {
  width: 100%;
  max-width: auto;
  margin: 0;
  padding: 0 10px;
}
.selectedCluster {
  /*border: 3px solid red !important;
  border-radius: 25px !important;*/
  /*transition: all 0.65s;
  transform: rotateY(360deg);*/
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.selectedPoint {
  /*border: 3px solid red !important;
  border-radius: 25px !important;*/
  /*transition: all 0.65s;
  transform: rotateY(360deg);*/
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.selectedResult {
  background: #f5f5f5;
  // border-right: 4px solid #CB0000 !important;
  // border-radius: 5px !important;
}
.coveo-list-layout.CoveoResult {
  padding: 0;
  border: none;
  border-right: 4px solid transparent;
}
.user-menu {
  z-index: 3;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: solid 1px #000;
  font-weight: bold;
  color: #000;
  padding-right: 20px;

  &.show-md__below {
    display: block;
    margin-bottom: 20px;
    @include md {
      display: none;
    }
  }
  
  &.show-md__above {
    display: none;
    @include md {
      display: block;
      font-size: 14px;
    }
    @include xl {
      display: block;
      font-size: 16px;
    }
  }
}

#user-menu > div {
  display: inline-block;
  cursor: pointer;
}

#user-menu fieldset {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  bottom: -10px;
  text-align: left;
  z-index: 200;
  background-color: white;
  color: #555;
  transform: translateY(100%);
}

#user-menu fieldset label {
  background-size: 26px;
  display: block;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
}

#user-menu fieldset label:hover {
  background-color: #e1e1e1;
  border-radius: 3px;
}
#user-menu div {
  display: inline-block;
  margin: 0 5px;
}

.custom-container--fluid{
  width: 100%;
  padding: 0 15px;
}

.main-container {
  display: flex;
  overflow-y: scroll;

  .main-column {
    flex: 1;
    
    .coveo-main-section {
      max-width: auto;
      margin: 0;
    }
  }
}

.CoveoMapWraper {
  width: 100%;
  height: 100%; 
}
.coveo-modal-header {
  height: 1px;
}

.results-filter__column {
  width: 100%;
  padding: 10px;
  position: relative;
  height: 100%;
  overflow: scroll;
  
  &::-webkit-scrollbar {
    display: none;
  }

  .coveo-facet-column {
    width: 100%;
    float: none;
    height: calc(100vh - 85px); 
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.8s ease;
  }

  @include xl {
    max-width: 800px;
  }

  @media (min-width: 1441px) {
    max-width: 900px;
  }
}

.facet-container {
  height: calc(100% - 100px);
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  background: #fff;
  width: 100%;
  overflow: hidden;
  transform-origin: 50% 0;
  opacity: 0;
  visibility: hidden;
  overflow: scroll;
  z-index: 10;
  transition: all 0.5s ease;
}

.widget-filters {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 100px;
  background: #f5f5f5;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-bottom: 10px;
  /*position: sticky;
  top: 1px;
  z-index: 900;*/

  .ionicons {
    font-size: 22px;
    margin-right: 10px;
  }

  &:hover {
    background: #e4e3e3;
  }
}

.CoveoSearchInterface .coveo-facet-column {
  padding: 0;
}

.summary-section {
  border-bottom: solid 1px #f5f5f5;
  border-top: solid 1px #f5f5f5;
}

.amenities {
  margin-bottom: 40px;
}

.amenities__item {
  color: #888;
  &:not(:nth-last-child(2)){
    margin-right: 5px;
    &:after {
      content: ",";
      color: #888;
    }
  }
}

.CoveoStarRating {
  display: inline-flex;
}


// ------- RESULT CARDS -------- //

.coveo-list-layout.CoveoResult {
  padding: 0;
  border: none;
  border-right: 4px solid transparent;
  border-top: solid 1px #bcc3ca;
}

.results-card {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  
  border-right: 4px solid transparent;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.results-card__main {
  flex: 1;
  position: relative;
}

.results-card__img-container {
  padding-bottom: 60%;
  margin-bottom: 20px;
  background-size: cover!important;
  background-position: center center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px gray;
  cursor: pointer;
  @include md {
    padding-bottom: 0;
    border-radius: 5px;
    margin-bottom: 0;
    height: 300px;
    margin-right: 15px;
    flex: 0 0 400px;
  }
}

.myimage {
  max-height: 200px;
  
}

.widget-capsule {
  padding: 5px 10px;
  border: solid 1px #000;
  border-radius: 100px;
  font-size: 12px;
  font-weight: bold;
}

.result-card__price {
  color: #000;
  font-size: 26px;
  font-weight: bold;
}

.room-type {
  display: inline-block; 
  margin-bottom: 15px;
}

.CoveoResultLink {
  display: block;
  color: #000!important;
  font-size: 18px;
  margin-bottom: 15px;
}

.results-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}


// ------- RESULTS SUMMARY ------- //

.coveo-results-per-page-list-item {
  border: none;
  color: #888;
  margin: 0;
  padding: 0;
  margin-left: 8px;
  font-weight: bold;

  &:not(:last-child){
    &:after {
      content: ", ";
      color: #888;
    }
  }
}

.coveo-results-per-page-list-item.coveo-active, .coveo-results-per-page-list-item:hover {
  background: none;

  a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
  }
}

// -------- SEARCH BOX -------- //

.CoveoSearchbox .magic-box {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.CoveoSearchbox .magic-box .magic-box-input {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.CoveoSearchbox .CoveoSearchButton {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}


// ------ SUMMARY ----- //@extend

.CoveoQuerySummary {
  color: #000;
  font-size: 16px;
}
.coveo-promoted-result-badge {
  margin-top: 3px;
}
.CoveoQuickview {
  color: rgb(49, 58, 69);;
  display: inline-block;
  padding-right: 5px;
}
.coveo-icon-for-quickview-svg {
  margin-top: 8px;
  width: 20px;
  height: 12px;
  color:rgb(49, 58, 69);
}
.CoveoExcerpt {
  word-wrap: break-word;
  font-size: 0.9em;
  padding-bottom: 10px;
  color: #888;
}
.coveo-summary-section {
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// -------- BREAD CRUMB -------- //

.CoveoBreadcrumb {
  border: none;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.coveo-breadcrumb-item {
  border: solid 1px #000;
  border-radius: 100px;
  padding: 5px 10px;
  display: inline-block; 
  margin-right: 15px;
}

.coveo-category-facet-breadcrumb-values, .coveo-facet-breadcrumb-value {
  color: #000;
  > * {
    color: #000!important;
  }
}

.coveo-breadcrumb-clear-all {
  color: #fff;
  font-weight: bold;
  border-radius: 100px;
  background: #000;
  padding: 5px 20px;
  margin-left: 0;
  margin-bottom: 10px;
}

.coveo-breadcrumb-items {
  flex-grow: 1;
  margin-right: 20px;
  padding: 0;
  flex-wrap: wrap;
}

.CoveoTriggers {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 5px;
  display: none;
  @include xl {
    display: block;
    word-break: break-word;
    max-width: 250px;
  }
}
.CoveoMyDetailsAndRelated .RelatedTab {
  display: inline-block;
  padding: 3px 10px;
  cursor: pointer;
}
.coveo-details {
  border: thin solid #bcc3ca;
}
.RelatedTab.active {
  opacity: 1;
  border-bottom: 2px solid #000;
  color: #000;
}

.RelatedTab:hover {
  cursor: pointer;
  border-bottom: 2px solid #000;
  color: #000;
  opacity: 0.8;
}

.RelatedTab {
  padding: 10px;
  border-bottom: 4px solid transparent;
  opacity: 0.3;
}

.side .city, .side .state, .side .country {
  display: inline-block;
  color: gray;
}
.side .header_info {
  font-size: 14pt;
font-weight: bold;
}
.side .info {
  font-size: 11pt;
}
.coveo-modal-container.coveo-mod-big > .coveo-modal-content {
  border-radius: 5px;
  padding: 10px;
  max-width: 960px;
}
.coveo-modal-container.coveo-quick-view .coveo-modal-body .coveo-quickview-header {
  height: auto;
  display: none;
}
.myimage img, .image img{
  box-shadow: 1px 1px 3px 0px grey;
  border-radius: 5px;
  width: 100%;
}
  .myimage img {
    
    max-height:250px;
}
.result-float-right {
  float: right;
  text-align: right;
  font-size: 12px;
  position: relative;
}
.coveo-modal-container * {
  font-family: Verdana, sans-serif;
}
.coveo-modal-container.coveo-quick-view .coveo-modal-body iframe {
  height: 100%;
  width: 100%;
  position: relative;
  border: none;
  border-radius: 2px;
  padding: 10px 0 0 10px;
}
.related-content {
  border: none;
  border-radius: 2px;
  background-color: white;
  padding: 1px;
  margin-top: 0px;
}
.dsktop-breadcrumbs {
  display: none;
  @include xl {
    display: flex;
  }
}

.mobile-breadcrumbs {
  display: flex;
  @include xl {
    display: none;
  }
}


// ----- PAGER ----- //
.coveo-pager-list-item.coveo-active, .coveo-pager-list-item:hover {
  background: none;
  border-bottom: solid 1px #000;
  > * {
    color: #000!important;
    font-weight: bold;
  }
}

.coveo-pager-list-item {
  color: #888;
  font-weight: bold;
  border: none;
}

// ------- FACETS OPENED CLASS -------- //

.main-container.active-facets {
  .facet-container {
    opacity: 1;
    visibility: visible;

    .coveo-facet-column {
      transform: translateY(0);
    }
  }

  .results-filter__column {
    overflow: hidden;
  }
}

.coveo-dropdown-header-wrapper {
  display: none!important;
}


// ------------ QUICK VIEW ------------ //

.coveo-quickview-left-header {
  display: none;
}

.coveo-term-for-quickview {
  border: solid 1px #000!important;
  background: none!important;
}

.coveo-iframeWrapper {

  #CoveoHighlight {
    background: none!important;
    font-weight: bold;
  }

  .imageblock {
    background: none!important;
    .image {
      width: 400px;

      .imageimg {
        max-width: auto;
        max-height: auto;
      }
    }
  }

  .side {
    .title {
      color: #000;
      font-size: 24px;
    }
  }
}

.coveo-modal-header {
  h1 {
    display: none;
  }
}

.CoveoFieldTable {
  padding-top: 20px;
  tr {
    vertical-align: baseline;
  }
  th {
    padding: 0;
    font-weight: bold;
    padding-right: 20px;
  }
}

.CoveoMyDetailsAndRelated {
  padding-top: 20px;
  border-top: solid 1px #dadada;
}

.related-content {
  padding-top: 20px;
}

.CoveoSearchbox .magic-box .magic-box-input {
  position: relative;
  z-index: 5;
}

.magic-box .magic-box-suggestions {
  padding-top: 50px;
  top: 0;
  border-top-left-radius: 22px;
}

.magic-box.magic-box-hasFocus .magic-box-suggestions.magic-box-hasSuggestion .coveo-magicbox-suggestions {
  border: 0;
  background: #f5f5f5;
}